body {
  text-align: center;
	width: 100%;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	padding-bottom: 200px;
}
.rdtDays{
  text-align: center;
}
a{
  color: darkened;
  text-decoration: none;
}

.appointment{
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
}
.submit-button {
  background: #CC0000;
  color: #FFFFFF;
  cursor: pointer;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
  font-size: 20px;
  padding: 10px;
}
.submit-button:disabled{
  background: grey;
  
}